* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #f2f2f2;
}

nav {
  margin-left: 48px;
}

ul {
  display: flex;
}

ul li {
  padding: 24px 16px;
}

ul li a {
  color: #848484;
  font-size: 20px;
}

button {
  position: relative;
  width: 130px;
  height: 41px;
  background-color: #4cb538;
  color: #fff;
  margin-top: 10px;
  margin-left: 34px;
  cursor: pointer;
  border: none;
}

.container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 42px;
}

h1 {
  width: 582px;
  font-weight: 900;
  font-size: 62px;
  line-height: 70px;
  color: #161a49;
}

h2 {
  font-weight: 500;
  font-size: 58px;
  line-height: 71px;
}

p {
  width: 480px;
  font-weight: 480;
  font-size: 24px;
  line-height: 29px;
  color: #4b505a;
  margin-top: 32px;
  margin-bottom: 42px;
}

.btn {
  background-color: #ffffff;
  color: #6fbf44;
  width: 239px;
  height: 64px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
}

@media (min-width: 390px) and (max-width: 844px) {
  ul li {
    display: none;
  }
  button {
    position: absolute;
    right: 16px;
  }
  .container {
    width: 80%;
    margin: 0 auto;
    margin-top: 101px;
    display: flex;
    flex-direction: column-reverse;
  }

  .center{
    position: relative;
    right: -10px;
    margin-top: 40px;
  }
  img {
    width: 349px;
    position: relative;
    right: 16px;
  }
  h1 {
    width: 278px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
  }
  h2 {
    font-size: 35px;
    line-height: 38px;
    margin-bottom: -19px;
  }
  p {
    width: 392px;
    font-size: 19px;
  }
  .btn {
    position: relative;
    left: -20px;
    margin-top: -20px;
  }
}
